html{
  scroll-behavior: smooth;
}

.arrow_blink{
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

a{
  text-decoration: none;
  color: rgb(72, 255, 231);
}

body{
  background-color: #222;
  color: rgb(72, 255, 231);
  font-family: 'Cairo', sans-serif;
  text-align: center;
}

h1{
  font-size: 9vw;
  margin-bottom: 0;
}

h3{
  font-size: medium;
  font-weight: 600;
}

a{
  text-decoration: none;
  color: rgb(72, 255, 231);
}

@media screen and (max-width: 1000px) {
    h1{font-size: 14vh;}
}