
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(95, 212, 193);
  font-family: 'Cairo', sans-serif;
  width: 99%;
  border-radius: 10px;
  position: fixed;
  top: 8px;
  opacity: 89%;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(25, 54, 45);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
}

    /* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:  rgb(72, 255, 231);
}

#right{
  float: right;
}

@media screen and (max-width: 1000px){
  ul{
    overflow: visible;
    width: 90px;
    font-size: 15px;
  }
  
  li{
    width: 90px;
  }

  #right{
    float: left;
  }
}
