
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  font-family: 'Cairo', sans-serif;
  width: 99%;
  border-radius: 10px;
  position: sticky;
  top: 8px;
  opacity: 100%;
  justify-content: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(72, 255, 231);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
}

    /* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:  rgb(37, 97, 89);
}

#right{
  float: right;
}

@media screen and (max-width: 1000px){
  ul{
    display: flex;
    overflow: visible;
    font-size: 6.5vw;
  }
  
  li{
    display: flex;
  }

  #right{
    float: right;
  }
}
