:root{
  --main-bg-color: #222;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-bg-color);
  font-family: 'Cairo', sans-serif;
  width: 99%;
  border-radius: 10px;
  position: sticky;
  top: 0;
  opacity: 100%;
  justify-content: center;
  z-index: 100;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(72, 255, 231);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
}

li a:hover {
  background-color:  rgb(37, 97, 89);
}

#right{
  float: right;
}
